.option {
    background-color: #3c0e70;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: 0.4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: rgb(29, 240, 75);
    font-weight: bold;
}

.wrong {
    background-color: rgb(140, 15, 145);
    opacity: 0.4;
}